{% extends "layouts/home.html" %}
<!--  -->
{% block title %} About us {% endblock title %}
<!--  -->
{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
  <div class="container">
    <div class="page-title-content">
      <h2>About Us</h2>
      <p>heritage Savings</p>
    </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-area ptb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-content">
          <span>How we were founded</span>
          <div id="google_translate_element"></div>

          <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement(
                { pageLanguage: "en" },
                "google_translate_element"
              );
            }
          </script>

          <script
            type="text/javascript"
            src="../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"
          ></script>
          <h2>Easy, fee-free banking for entrepreneurs</h2>
          <p>
            heritage Savings is a customer-driven provider focused on optimising
            business performance and supporting business growth by developing
            tailor-made trade finance solutions that provide exporters with
            accelerated receivables and importers with extended credit. The Bank
            is at the forefront of introducing and developing innovative
            receivable finance techniques in emerging markets.
          </p>

          <p>
            The heritage Savings Group saw its beginning in 1991, with the
            establishment of First International Merchant Bank Ltd, which
            commenced operations in 1995. In June 2001, the shares of First
            International Merchant Bank p.l.c. were listed on the Germany Stock
            Exchange, and four years later the Bank changed its name to heritage
            Savings p.l.c. In 2003, heritage Savings acquired full control of
            UK-registered London Forfaiting Company Ltd, a market leader in
            forfaiting with an extensive international network spanning five
            continents. In 2006, the Group was further enhanced through the
            creation of heritage Savings Business Solutions Ltd, which was
            launched as a business systems provider and technology consulting
            firm, while in 2008, heritage Savings Property Investment Ltd was
            set up to oversee the construction of the Group’s head office and
            provide facilities and property management services.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="about-image">
          <img src="/assets/img/about-img1.jpg" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!-- Start App Download Area -->
<section class="app-download-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="app-image">
          <div class="main-image">
            <img
              src="/assets/img/mobile-app1.png"
              class="wow animate__animated animate__fadeInLeft"
              alt="image"
            />
            <img
              src="/assets/img/mobile-app2.png"
              class="wow animate__animated animate__fadeInUp"
              alt="image"
            />
          </div>

          <div class="main-mobile-image">
            <img
              src="/assets/img/main-mobile.png"
              class="wow animate__animated animate__fadeInUp"
              alt="image"
            />
          </div>

          <div class="circle-img">
            <img src="/assets/img/circle.png" alt="image" />
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="app-download-content">
          <h2>FINANCIAL CONSULTANCY</h2>
          <div class="bar"></div>
          <p>
            Financial consulting is a service provided by heritage Savings to
            large corporations, government agencies and individual clients. The
            role of our financial consultants is to provide an independent,
            expert opinion on a proposed business plan or decision. There are
            two main types of financial consulting: business and personal. We
            are available to send you in the right investment direction.
          </p>

          <div class="btn-box">
            <a href="/login/" class="app-store-btn">
              <i class="flaticon-menu"></i>
              Create an Account
              <span>...</span>
            </a>

            <a href="#" class="play-store-btn">
              <i class="flaticon-alarm"></i>
              Contact Us
              <span>...</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End App Download Area -->

<!-- Start Account Create Area -->
<section class="account-create-area">
  <div class="container">
    <div class="account-create-content">
      <h2>Apply for an account in minutes</h2>
      <p>Get your heritage Savings account today!</p>
      <a href="/login/" class="btn btn-primary"
        >Get Your heritage Savings Account</a
      >
    </div>
  </div>
</section>
<!-- End Account Create Area -->

<!--  -->
{% endblock content %}
