{% extends "layouts/home.html" %}
<!--  -->
{% block title %} Bussiness Loan {% endblock title %}
<!--  -->
{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
  <div class="container">
    <div class="page-title-content">
      <h2>Business Loan</h2>
      <p>heritage Savings</p>
    </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-details">
          <div class="article-content">
            <h3>Business Loan</h3>

            <p>Business Loan</p>

            <p>
              Loans to Fuel Your Growth With the expertise to meet all your
              business needs, UK Heritage Bank is your resource advantage. We
              offer working capital lines of credit, term loans and cash
              management services. Let us create a custom business solution that
              will help you maximize your profitability and provide for future
              growth opportunities..<br />

              contact <b> account@heritagesaves.online</b> for loans
            </p>

            <div id="google_translate_element"></div>

            <script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                  { pageLanguage: "en" },
                  "google_translate_element"
                );
              }
            </script>

            <script
              type="text/javascript"
              src="../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"
            ></script>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <aside class="widget-area" id="secondary">
          <section class="widget widget_recent_entries">
            <h3 class="widget-title">Business Mastercard</h3>

            <p>
              heritage Savings Mastercard® credit card offers the perfect
              combination of a competitive interest rate and simple account
              terms and conditions. If you are looking for flexible purchasing
              power for your business, or you want to transfer a higher interest
              balance from another credit card, we have the perfect solution for
              you. Our card offers:
            </p>

            <ul>
              <li>
                <a href="#"
                  >0% Introductory Rate for the first six months (Purchases,
                  Balance Transfers, and Cash Advances)</a
                >
              </li>
              <li><a href="#">No Annual Fee</a></li>
              <li>
                <a href="#"
                  >Additional cards available for fleet/authorized users</a
                >
              </li>
              <li><a href="#">Variable Rate thereafter of Prime + 6.99%</a></li>
            </ul>

            <p>
              For details or to apply, please contact
              equiry@heritagesaves.online
            </p>
          </section>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Details Area -->

<!-- Start Account Create Area -->
<section class="account-create-area">
  <div class="container">
    <div class="account-create-content">
      <h2>Apply for an account in minutes</h2>
      <p>Get your heritage Savings account today!</p>
      <a href="login.html" class="btn btn-primary"
        >Get Your heritage Savings Account</a
      >
    </div>
  </div>
</section>
<!-- End Account Create Area -->

{% endblock content %}
