{% extends "layouts/home.html" %}
<!--  -->
{% block title %} Services {% endblock title %}
<!--  -->
{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
  <div class="container">
    <div class="page-title-content">
      <h2>Financial Services</h2>
      <p>Heritage Savings</p>
    </div>
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="blog-details">
          <div class="article-content">
            <h3>Cash & Credit Management</h3>

            <div id="google_translate_element"></div>

            <script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                  { pageLanguage: "en" },
                  "google_translate_element"
                );
              }
            </script>

            <script
              type="text/javascript"
              src="../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"
            ></script>

            <p>
              Heritage Savings is strongly positioned to deliver an enhanced
              banking service to corporate customers. We offer both cash and
              credit management products to satisfy the needs of our clients.<br />
              Corporate relationship support for all your trade business needs,
              competitive USD and other currency deposit rates for the short and
              medium term together with a strong international settlement reach.
              .
            </p>

            <h3>International Settlements</h3>

            <p>
              Ability to settle in major currencies such as USD is enabled
              through our excellent correspondent banking relationships.<br />

              Payments worldwide, with Same-day, Next day options, for normal or
              high value transactions through our dedicated online portal. This
              is part of our corporate banking suite in the major trade
              currencies.
            </p>

            <h3>Digital Banking</h3>

            <p>
              The services provided by Providence Bank are facilitated by its
              secure digital banking platform Providence Bank Direct, a system
              designed for the cash management needs of corporate customers.
            </p>

            <p>
              Corporate Accounts may be managed efficiently and securely.
              Handling single and multi-currency funds transfers, competitive
              Forex and viewing of balances.
            </p>

            <p>
              Online payments, standing orders and periodical payments can also
              be performed online. These include SEPA and non-SEPA payments,
              internal and own account transfers. Foreign exchange and term
              deposit transactions can also be handled through our digital
              platform.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <aside class="widget-area" id="secondary">
          <section class="widget widget_recent_entries">
            <h3 class="widget-title">Business Mastercard</h3>

            <p>
              Heritage Savings Mastercard® credit card offers the perfect
              combination of a competitive interest rate and simple account
              terms and conditions. If you are looking for flexible purchasing
              power for your business, or you want to transfer a higher interest
              balance from another credit card, we have the perfect solution for
              you. Our card offers:
            </p>

            <ul>
              <li>
                <a href="#"
                  >0% Introductory Rate for the first six months (Purchases,
                  Balance Transfers, and Cash Advances)</a
                >
              </li>
              <li><a href="#">No Annual Fee</a></li>
              <li>
                <a href="#"
                  >Additional cards available for fleet/authorized users</a
                >
              </li>
              <li><a href="#">Variable Rate thereafter of Prime + 6.99%</a></li>
            </ul>

            <p>
              For details or to apply, please contact
              equiry@heritagesaving.online
            </p>
          </section>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Details Area -->

<!-- Start Account Create Area -->
<section class="account-create-area">
  <div class="container">
    <div class="account-create-content">
      <h2>Apply for an account in minutes</h2>
      <p>Get your Heritage Savings account today!</p>
      <a href="/login/" class="btn btn-primary"
        >Get Your Heritage Savings Account</a
      >
    </div>
  </div>
</section>
<!-- End Account Create Area -->

{% endblock content %}
