<div class="dropdown-menu w-56">
  <ul class="dropdown-content bg-primary text-white">
    <li class="p-2">
      <div class="font-medium truncate">{{user.get_fullname}}</div>
    </li>
    <li><hr class="dropdown-divider border-white/[0.08]" /></li>
    <li>
      <a href="/forgot-password/" class="dropdown-item hover:bg-white/5">
        <i data-lucide="user" class="w-4 h-4 mr-2"></i> Change Password
      </a>
    </li>
    <li>
      <a href="/reset-pin/" class="dropdown-item hover:bg-white/5">
        <i data-lucide="edit" class="w-4 h-4 mr-2"></i> Reset Pin
      </a>
    </li>

    <li><hr class="dropdown-divider border-white/[0.08]" /></li>
    <li>
      <a href="/logout" class="dropdown-item hover:bg-white/5">
        <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i>
        Logout
      </a>
    </li>
  </ul>
</div>
