{% extends "layouts/auth.html" %}
<!--  -->
{% block title %} Confirm you mail {% endblock title %}
<!--  -->
{% block style %} {% include "components/auth-login-content.html" %}
<!--  -->

{% endblock style %}
<!--  -->
{% block content %}

<!-- Start Login Area -->
<section class="login-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image">
        <img src="/assets/img/login-bg.jpg" alt="image" />
      </div>
    </div>

    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="login-form">
              <div class="logo black-logo">
                <a href="https://{{domain}}"
                  ><img
                    src="/assets/img/logo3.png"
                    style="width: 160px"
                    alt="image"
                /></a>
              </div>
              <div class="logo white-logo">
                <a href="https://{{domain}}"
                  ><img
                    src="/assets/img/logo2.png"
                    style="width: 160px"
                    alt="image"
                /></a>
              </div>

              <h3>Check your mail box for confirmation mail</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Login Area -->

{% endblock content %}
