{% extends "layouts/auth.html" %} {% load crispy_forms_tags %}
<!--  -->
{% block title %} Create an account {% endblock title %}
<!--  -->
{% block style %} {% include "components/auth-login-content.html" %}
<!--  -->

{% endblock style %}
<!--  -->
{% block content %}

<!-- Start Login Area -->
<section class="login-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image">
        <img src="/assets/img/login-bg.jpg" alt="image" />
      </div>
    </div>

    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="login-form">
              <div class="logo black-logo">
                <a href="index-2.html"
                  ><img
                    src="/assets/img/logo3.png"
                    style="width: 160px"
                    alt="image"
                /></a>
              </div>
              <div class="logo white-logo">
                <a href="index-2.html"
                  ><img
                    src="assets/img/logo2.png"
                    style="width: 160px"
                    alt="image"
                /></a>
              </div>

              <h3>Create New Account With Us</h3>

              <form action="" method="POST" name="Login" id="Login">
                <br /><br />
                {% csrf_token %} {{form|crispy}}

                <button
                  id="submit"
                  type="submit"
                  name="loginbutton"
                  value="Create Account"
                  class="btn btn-primary"
                >
                  Submit
                </button>

                <div class="forgot-password">
                  <a href="login.html">Already have an account</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Login Area -->

{% endblock content %}
